
#about-me {
    background: whitesmoke;
  }
  
  .hexagon {
    justify-content: center;
    align-items: center;
    height: 95px;
    width: 115px;
    background-image: url('../../images/octagon.png');
    background-size: 100% 100%;
    margin-top: 45px;
  }
  
  .bullet-title {
    color: rgb(63, 39, 39);
    margin-top: 18px;
    font-weight: bold;
  }
  
  .bullet-text {
    color: rgb(63, 39, 39);
    margin-top: 8px;
  }
  
  #bio,
  #skill-graph {
    margin-top: 50px;
  }
  
  #headshot {
    max-width: 350px;
  }
  
  #headshot-title {
    margin-top: 15px;
  }
  
  #contact-link {
    color: blue;
  }
  
  .skill-row {
    margin-bottom: 10px;
    background: #cccccc;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .bar-title-bg {
    background: #34645a;
  }
  
  .title-text {
    font-size: 18px;
    color: white;
    padding-top: 5px;
  }
  
  .bar-fill {
    background: teal;
  }
  
  #last-row {
    margin-bottom: 65px;
  }